<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Classification with CNN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Image Classification with CNN</h1>
        <form method="POST" action="/" enctype="multipart/form-data"  id="uploadForm">
            <input type="file" name="file" accept="image/*" required >
            <button type="submit" >Upload and Classify</button>
        </form>
        <div id="loading" class="spinner" style="display:none;"></div>
        {% if prediction %}
            <div class="result mt-4 text-center">
                <h2>Prediction: {{ prediction }}</h2>
                <img src="{{ url_for('static', filename='images/uploaded_image.jpg') }}" alt="Uploaded Image" >
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const form = document.getElementById('uploadForm');
        const loading = document.getElementById('loading');

        form.addEventListener('submit', function () {
            loading.style.display = 'block';
        });
    </script>
</body>
</html>
